/* 
color palette for the website: #242582 #553d67 #f64c72 #99738e #2f2fa2
font-family: Galdeano, Playfair
*/

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(36,37,130,1) 1%, rgba(47,47,162,1) 60%);
    margin: 0;
}

.section-header, .nav-container {
    display: inline-block;
    vertical-align: middle;
}

.section-header {
    margin-left: 15px;
}

.logo {
    margin: 0;
    /* font-size: 25px; */
    font-family: 'Galdeano';
    background: -webkit-linear-gradient(#f64c72, #e05579);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2em 0;
    display: inline-block;
    background: #553d67;
    width: 40%;
    height: 100vh;
}

.nav {
    padding: 0 27px;
    /* margin: 7px 0 0 0 ; */
    height: 200px;
}

 .nav-links {
    display: block;
    font-size: 15px;
    list-style: none;
    margin: 20px 0 0 0 ;




}

 

.nav-links >a {
    display: block;
    border-bottom: #e05579 2px solid;
    font-family: 'Playfair Display';
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
}
/*
#contact-cta {
    color: #f64c72;
    border: 2px solid #f64c72 ;
    padding: 3px 7px;
} */
